<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Titulo | Olympics.com</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" 
                    aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <a class="navbar-brand" href="@Url.Action("")">
                    <img src="~/img/paris2024_white.svg" alt="Logo">
                </a>

                <!-- Empieza offcanvas navbar -->
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" data-bs-theme="dark">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav d-flex justify-content-between flex-grow-1">
                            <div class="d-md-flex">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Historia")">Historia</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Deportes")">Deportes</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Paises")">Países</a></li>
                            </div>
                            <div class="d-md-flex">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("AgregarDeportista")">Agregar deportista</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Creditos")">Créditos</a></li>
                            </div>
                        </ul>
                    </div>
                </div>
                <!-- Termina offcanvas navbar -->
            </div>
        </nav>
    </header>
    
    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer border-top text-muted bg-dark">
         <div class="redes-sociales">
            <a href="https://www.facebook.com/juegosolimpicos2024paris/"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a>
            <a href="https://www.youtube.com/playlist?list=PLgETi64bAeW42y69WdWdgAqCdam10CF_N"><i class="fab fa-youtube"></i> YouTube</a>
            <a href="https://x.com/juegosolimpicos?lang=es"><i class="fab fa-twitter"></i> X</a>
            <a href="https://ar.linkedin.com/"><i class="fab fa-linkedin"></i> LinkedIn</a>
            <a href="https://www.tiktok.com/tag/juegosolimpicos?lang=es"><i class="fab fa-medium"></i> TikTok</a>
        </div>
        <p>Copyright © 2024 Tomas Korngold,David Chinski y Lucas Tjor</p>
        <p>
            <a href="@Url.Action("InformacionLegal")">Información legal</a> | <a href="@Url.Action("PoliticaPrivacidad")">Política de privacidad</a>
        </p>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
