<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Titulo | Olympics.com</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/brands.min.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/solid.min.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md box-shadow">
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa-solid fa-bars"></span>
                </button>
                
                <a class="navbar-brand" href="@Url.Action("")">
                    <img src="~/img/paris2024_white.svg" alt="Logo">
                </a>

                <!-- Empieza offcanvas navbar -->
                <div class="offcanvas offcanvas-start text-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                            <span class="fa-solid fa-x"></span>
                        </button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav d-flex justify-content-between flex-grow-1">
                            <div class="d-md-flex">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Historia")">Historia</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Deportes")">Deportes</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Paises")">Países</a></li>
                            </div>
                            <div class="d-md-flex">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("AgregarDeporte")"><i class="fa-solid fa-plus"></i> deporte</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("AgregarDeportista")"><i class="fa-solid fa-plus"></i>  deportista</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Creditos")">Créditos</a></li>
                            </div>
                        </ul>
                    </div>
                </div>
                <!-- Termina offcanvas navbar -->
            </div>
        </nav>
    </header>
    
    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer text-muted bg-dark">
         <div class="redes-sociales">
            Síguenos en:
            <a href="https://www.facebook.com/Paris2024"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://x.com/juegosolimpicos?lang=es"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/paris2024/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCg4W1uf-i5X1nVaeWJsKuyA/videos"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.tiktok.com/@@paris2024officiel"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://wwww.linkedin.com/company/paris-2024-olympic-and-paralympic-games-bid"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.threads.net/@@paris2024"><i class="fa-brands fa-threads"></i></a>
        </div>
        <p>Copyright &copy; 2024 Tomas Korngold, David Chinski y Lucas Tjor</p>
        <p>
            <a href="@Url.Action("InformacionLegal")">Información legal</a> | <a href="@Url.Action("PoliticaPrivacidad")">Política de privacidad</a>
        </p>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
