@{
    ViewBag.Titulo = @ViewBag.DetallePais.Nombre;
}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="@ViewBag.DetallePais.Bandera" alt="Bandera de @ViewBag.DetallePais.Nombre">
        </div>
        <div class="col-sm-8">
            <h1>@ViewBag.DetallePais.Nombre</h1>
            <p>Fecha de fundación: @ViewBag.DetallePais.FechaFundacion.ToString("yyyy-MM-dd")</p>
        </div>
    </div>
</div>
<div class="container">
    <h2>Deportistas</h2>

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregarDeportista">
        <i class="fa-solid fa-plus"></i> Agregar deportista
    </button>

    @if (ViewBag.ListaDeportistas.Count != 0)
    {
        <div class="d-md-flex flex-wrap">
        @foreach (Deportista deportista in ViewBag.ListaDeportistas)
         {
            <div class="card">
                <img src="@deportista.Foto" class="card-img-top" alt="Foto de @deportista.Apellido">
                <div class="card-body">
                    <h3 class="card-title">@deportista.Nombre @deportista.Apellido</h3>
                    <p><a class="infoBtn" href="@Url.Action("VerDetalleDeportista", new { idDeportista = deportista.IdDeportista })">Más info</a></p>
                </div>
            </div>
        }
        </div>
    }
    else
    {
        <p class="text-secondary text-center">No hay deportistas.</p>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="modalAgregarDeportista" tabindex="-1" aria-labelledby="modalAgregarDeportista" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="needs-validation" method="POST" action="@Url.Action("GuardarDeportista")" novalidate>
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalAgregarDeportista">Agregar deportista de @ViewBag.DetallePais.Nombre</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div>
                <!-- Iniciar apellido -->
                <label for="apellido" class="form-label">Apellido*</label>
                <input type="text" class="form-control" id="apellido" name="Apellido" placeholder="Cabrera" autocomplete="off" required>
                <div class="invalid-feedback">Ingrese un apellido.</div>
                <!-- Fin apellido -->
            </div>
            <div>
                <!-- Iniciar nombre -->
                <label for="nombre" class="form-label">Nombre*</label>
                <input type="text" class="form-control" id="nombre" name="Nombre" placeholder="Nina" autocomplete="off" required>
                <div class="invalid-feedback">Ingrese un nombre.</div>
                <!-- Fin nombre -->
            </div>
            <div>
                <!-- Iniciar fecha de nacimiento -->
                <label for="fechaNacimiento" class="form-label">Fecha de nacimiento*</label>
                <input type="date" class="form-control" id="fechaNacimiento" name="FechaNacimiento" autocomplete="off" required>
                <div class="invalid-feedback">Ingrese una fecha de nacimiento.</div>
                <!-- Fin fecha de nacimiento -->
            </div>
            <div>
                <!-- Iniciar foto -->
                <label for="foto" class="form-label">Foto*</label>
                <input type="url" class="form-control" id="foto" name="Foto" placeholder="https://www.example.com/foto.jpg" aria-describedby="fotoHelp" autocomplete="off" required>
                <div id="fotoHelp" class="form-text">Usar la URL de una imagen de Internet.</div>
                <div class="invalid-feedback">Ingrese una foto.</div>
                <!-- Fin foto -->
            </div>
            <input type="hidden" name="IdPais" value="@ViewBag.DetallePais.IdPais">
            <div>
                <!-- Iniciar país -->
                <label for="deporte" class="form-label">Deporte*</label>
                <select class="form-select" id="deporte" name="IdDeporte" autocomplete="off" required>
                    <option selected disabled value="">Elegir...</option>
                    @foreach (Deporte deporte in ViewBag.ListaDeportes)
                    {
                        <option value="@deporte.IdDeporte">@deporte.Nombre</option>
                    }
                </select>
                <div class="invalid-feedback">Ingrese un deporte.</div>
                <!-- Fin país -->
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-outline-secondary" type="reset" value="Borrar" />
            <input class="btn btn-success" type="submit" value="Agregar" />
        </div>
      </form>
    </div>
  </div>
</div>