@{
    ViewBag.Titulo = @ViewBag.DetallePais.Nombre;
}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="@ViewBag.DetallePais.Bandera" alt="Bandera de @ViewBag.DetallePais.Nombre">
        </div>
        <div class="col-sm-8">
            <h1>@ViewBag.DetallePais.Nombre</h1>
            <p>Fecha de fundación: @ViewBag.DetallePais.FechaFundacion.ToString("yyyy-MM-dd")</p>
        </div>
    </div>
</div>
<div class="container">
    <h2>Deportistas</h2>
    @if (ViewBag.ListaDeportistas.Count != 0)
    {
        <div class="d-flex justify-content">
        @foreach (Deportista deportista in ViewBag.ListaDeportistas)
        {
            <div class="col-md-4 mr-3 mb-3">
                <div class="card">
                    <img src="@deportista.Foto" class="card-img-top" alt="Foto de @deportista.Apellido">
                    <div class="card-body">
                        <h3 class="card-title">@deportista.Nombre @deportista.Apellido</h3>
                        <p><a class="infoBtn" href="@Url.Action("VerDetalleDeportista", new { idDeportista = deportista.IdDeportista })">Más info</a></p>
                    </div>
                </div>
            </div>
        }
        </div>
    }
    else
    {
        <p class="text-secondary text-center">No hay deportistas.</p>
    }
</div>