@{
    ViewBag.Titulo = ViewBag.DetalleDeporte.Nombre;
}
<div class="card topImage">
    <img src="@ViewBag.DetalleDeporte.Banner" class="card-img" alt="Banner de @ViewBag.DetalleDeporte.Nombre">
    <div class="card-img-overlay container d-flex align-items-end">
      <h1 class="card-title"><img src="@ViewBag.DetalleDeporte.Foto" alt="Foto de @ViewBag.DetalleDeporte.Nombre"> @ViewBag.DetalleDeporte.Nombre</h1>
    </div>
</div>
<div class="container">
    <h2>Deportistas</h2>
    @if (ViewBag.ListaDeportistas.Count != 0)
    {
        <div class="d-md-flex flex-wrap">
        @foreach (Deportista deportista in ViewBag.ListaDeportistas)
         {
            <div class="card">
                <img src="@deportista.Foto" class="card-img-top" alt="Foto de @deportista.Apellido">
                <div class="card-body">
                    <h3 class="card-title">@deportista.Nombre @deportista.Apellido</h3>
                    <p><a class="infoBtn" href="@Url.Action("VerDetalleDeportista", new { idDeportista = deportista.IdDeportista })">Más info</a></p>
                </div>
            </div>
        }
        </div>
    }
    else
    {
        <p class="text-secondary text-center">No hay deportistas.</p>
    }
</div>