@{
    ViewBag.Titulo = @ViewBag.DetallePais.Nombre;
}
<div class="container">
    <div class="row">
        <div class="col sm-2">
        <img src="@ViewBag.DetallePais.Bandera" alt="Bandera de @ViewBag.DetallePais.Nombre">
        </div>
        <div class="col sm-6">
        <h1>@ViewBag.DetallePais.Nombre</h1>
        <p>Fundado: @ViewBag.DetallePais.FechaFundacion.Day / @ViewBag.DetallePais.FechaFundacion.Month / @ViewBag.DetallePais.FechaFundacion.Year</p>
        </div>
    </div>
</div>